.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #eeeeee;
    box-shadow: #4f5050 0px 0px 10px;
    height: 80px;
    color: #ff3131;
   
}
.header-content{
    display: flex;
    justify-content: space-between; 

    .inner-header-left{
        display: flex;
        align-items: center;
        .menu-toggle{
            display: flex;
            padding: 0.5em;

            .btn-primary{
                background-color: #ff3131;
                color: white;
                border: none;
                padding: 10px;
                border-radius: 5px;
            }
        }
        .search-bar{
            display: flex;
            flex-direction: row;
            padding: 0.5em;
            align-items: center;
            .form-group{
                display: flex;
                gap: 10px;
            }
            button{
                padding: 5px;
                border-radius: 5px;
                border: 1px solid #ff3131;
                background-color: #ff3131;
                color: white;
            }   
    }

   
    
}
.inner-header-right{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap:10px;
    .notification{
        display: flex;
        align-items: center;
        gap: 10px;
        .notification-icon{
            font-size: 20px;
            color: #ff3131;
        }
        .notification-count{
            background-color: #ff3131;
            color: #ff3131;
            padding: 5px;
            border-radius: 50%;
        }

    }
    .user-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        .user-icon{
            font-size: 20px;
            color: #ff3131;
        }
        .user-name{
            font-size: 16px;
            color: #535252;
        }
        .user-image{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
}

}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .main-header {
      height: 60px; /* Reduce header height for smaller screens */
    }
  
    .inner-header-left {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      align-items: flex-start;
    }
  
    .search-bar {
      width: 100%; /* Make search bar full width */
      margin-top: 10px; /* Add spacing between menu toggle and search bar */
    }
  
    .inner-header-right {
      flex-direction: column; /* Stack elements vertically on smaller screens */
      align-items: flex-start;
    }
  }
  
  @media (max-width: 480px) {
    /* Additional adjustments for smaller screens */
    /* Example: Hide search bar or reduce font sizes */
  }