<div class="row">
    <div class="col-md-8">
        <mat-card>
            <!-- Display products here -->
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card>

            <!-- Create products form here -->
            <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
               <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Product Name" formControlName="name">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Product Description" formControlName="description">
                    </mat-form-field>
                </div>
               </div>
               
               <div class="row">
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Product sku" formControlName="sku">
                    </mat-form-field>
                </div>
                <div class="col-6">
                    <mat-form-field>
                        <input matInput placeholder="Product Price" formControlName="price">
                    </mat-form-field>
                </div>  
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput placeholder="Product Quantity" formControlName="quantity">
                        </mat-form-field>
                    </div>
                    <div class="col-6">
                        <mat-form-field>
                            <input matInput placeholder="Product Delivery Time Line" formControlName="deliveryTimeSpan">
                        </mat-form-field>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <mat-label>Product Category</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let category of categoryList" [value]="category.id">
                                {{ category.name }}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div class="col-6">
                        <mat-label>Product Location</mat-label>
                        <mat-select>
                            <mat-option *ngFor="let location of locationList" [value]="location.id">
                                {{ location.name }}
                            </mat-option>
                        </mat-select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6">
                        <mat-label>Is it available?</mat-label>
                        <mat-radio-group formControlName="isAvailable" aria-label="Is it available?">
                            <mat-radio-button value="true">True</mat-radio-button>
                            <mat-radio-button value="false">False</mat-radio-button>
                        </mat-radio-group>

                    </div>
                    <div class="col-6">
                        <mat-label>Is it on sale?</mat-label>
                        <mat-radio-group formControlName="isOnSale" aria-label="Is it on sale?">
                            <mat-radio-button value="true">True</mat-radio-button>
                            <mat-radio-button value="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input matInput placeholder="Product Image" formControlName="imageUrl">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <mat-label>Is it sold online?</mat-label>
                        <mat-radio-group formControlName="isSellOnline" aria-label="Is it sold Online?s">
                            <mat-radio-button value="true">True</mat-radio-button>
                            <mat-radio-button value="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="col-6">
                        <mat-label>Is it sold on POS?</mat-label>
                        <mat-radio-group formControlName="isSellOnPOS" aria-label="Is it on POS?">
                            <mat-radio-button value="true">True</mat-radio-button>
                            <mat-radio-button value="false">False</mat-radio-button>
                        </mat-radio-group>
                    </div>  
                </div>  

                <div class="row">
                    <div class="col-12">
                        <mat-form-field>
                            <input matInput placeholder="Product Description" formControlName="description">
                           
                            <textarea matInput formControlName="description" ></textarea>
                        </mat-form-field>
                    </div>
                </div>
               
                <button mat-raised-button color="primary" type="submit">Create Product</button>
            </form>
        </mat-card>
    </div>
</div>