<div class=" container-fluid">
    <div class="row">
        <h3>Product Page</h3>
      </div>
</div>

<div class="row">
    <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12'" >
        <div class="card">
            <div class="card-header">
                <div class="bg-primary">
                    <div class="row">
                        <div class="col-6 text-end">
                            <h4 class="text-white">Products</h4>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-sm btn-success " (click)="openSidePanel()">Add Product</button>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-3" *ngFor="let products of productList">
                            <div class="card" >
                                <img class="card-img-top" [src]="products.imageUrl" alt="Card image">
                                <div class="card-body">
                                  <h4 class="card-title">{{products.name}}</h4>
                                  <p class="card-text">{{products.categoryName}}</p>
                                  <a href="#" class="btn btn-primary">See Profile</a>
                                </div>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header">
                <div class="bg-primary">
                    <div class="row">
                        <div class="col-6 text-end">
                            <h4 class="text-white">New Product</h4>
                        </div>
                        <div class="col-6 text-end">
                            <button class="btn btn-sm btn-success " (click)="closeSidePanel()">Close</button>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <div class="row">
                        <form class="form-group" [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
                            <div class="row">
                                <div class="col-6">
                                    <label for="sku">SKU</label>
                                    <input type="text" 
                                    class="form-control" 
                                    formControlName="sku" id="sku" placeholder="Enter sku">
                                </div>
    
                                <div class="col-6">
                                    <label for="name">Name</label>
                                    <input type="text" class="form-control"
                                    formControlName="name" id="name" placeholder="Enter name">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <label for="price">Price</label>
                                    <input type="text" 
                                    class="form-control"
                                    formControlName="price" id="price" placeholder="Enter price">
                                </div>
                                <div class="col-6">
                                    <label for="quantity">Quantity</label>
                                    <input type="text" class="form-control" 
                                    formControlName="quantity"
                                    id="quantity" placeholder="Enter quantity">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-6">
                                    <label for="isAvailable">Is it available?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isAvailable" id="isAvailableTrue" value="true">
                                        <label class="form-check-label" for="isAvailableTrue">
                                            True
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isAvailable" id="isAvailableFalse" value="false">
                                        <label class="form-check-label" for="isAvailableFalse">
                                            False
                                        </label>
                                    </div>
                                </div>
    
                                <div class="col-6">
                                    <label for="isOnSale">Is it on Sale?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isOnSale" id="isOnSaleTrue" value="true">
                                        <label class="form-check-label" for="isOnSaleTrue">
                                            True
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isOnSale" id="isOnSaleFalse" value="false">
                                        <label class="form-check-label" for="isOnSaleFalse">
                                            False
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label for="isAvailable">Is it on POS?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isPOS" id="isAvailableTrue" value="true">
                                        <label class="form-check-label" for="isAvailableTrue">
                                            True
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isPOS" id="isAvailableFalse" value="false">
                                        <label class="form-check-label" for="isAvailableFalse">
                                            False
                                        </label>
                                    </div>
                                </div>
    
                                <div class="col-6">
                                    <label for="isOnSale">Is is on Online?</label>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isOnline" id="isOnSaleTrue" value="true">
                                        <label class="form-check-label" for="isOnSaleTrue">
                                            True
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" formControlName="isOnline" id="isOnSaleFalse" value="false">
                                        <label class="form-check-label" for="isOnSaleFalse">
                                            False
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div clas="row">
                                <div class="col-6">
                              
                                    <label for="category">Category</label>
                                    <select class="form-control" formControlName="categoryId" >
                                        <option>Select option</option>
                                        <option *ngFor="let cat of categoryList" value="cat.id">{{cat.name}}</option>
                                    </select>
                                </div>
                                <div class="col-6">
                                    <label for="brand">Location</label>
                                    <select class="form-control" formControlName="brandId">
                                        <option>Select option</option>
                                        <option *ngFor="let location of locationList" value="location.id">{{location.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-12">
                                    <label for="imageUrl">Image Url</label>
                                    <input type="text" 
                                    class="form-control"
                                    formControlName="imageUrl" id="imageUrl" placeholder="Enter image url">
                                </div>
    
                            </div>
                            
                           <div class="row">

                            <div class="col-12">
                                <label for="description">Description</label>
                                <textarea rows="5" class="form-control"
                                 formControlName="description"
                                 id="description" placeholder="Description"></textarea>
                            </div>
                        
                           </div>
                            <div class="row">
                                <div class="col-6">
                                    <button type="reset" class="btn btn-success" (click)="onReset()"> Reset </button>
                                </div>
                                <div class="col-6 text-end" >
                                    <button type="submit" class="btn btn-sm btn-success"> Create Product </button>
                                </div>
                            </div>

                            
                       </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
